@font-face {
  font-family: "Lato-Bold";
  src: url("../Assets/Fonts/Lato-Bold.ttf") format("Truetype");
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url("../Assets/Fonts/Inter-SemiBold.ttf") format("Truetype");
}
